<html>
  <head>
    <style type="text/css">
      <% # inline the required css files %>
      <% File.read "#{Rails.public_path}/stylesheets/pdf.css" %>
    </style>
  </head>
  <body>

    <h1>Some text</h1>
    <%= yield %>
  </body>
</html>
